{
    "swagger": "2.0",
    "info": {
        "title": "Swagger Posts",
        "contact": {
            "email": "kostya_nagula@mail.ua"
        },
        "version": "1.0.0"
    },
    "host": "dcodeit.net",
    "basePath": "/kostya.nagula/project/restProject",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/post/{id}": {
            "get": {
                "description": "Return a post on a single ID, if user have access to the post",
                "operationId": "getAction",
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of post to fetch",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "X-API_KEY",
                        "in": "header",
                        "description": "Authentication Key",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get post success"
                    },
                    "403": {
                        "description": "When user not authentication"
                    },
                    "404": {
                        "description": "When post by ID not found"
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            },
            "put": {
                "summary": "Update post",
                "description": "Update select post by id",
                "operationId": "putAction",
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of post to fetch",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Post data for update or create new post",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Post"
                        }
                    },
                    {
                        "name": "X-API_KEY",
                        "in": "header",
                        "description": "Authentication Key",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "When new post created success"
                    },
                    "204": {
                        "description": "When post updated success"
                    },
                    "403": {
                        "description": "When user not authentication"
                    },
                    "400": {
                        "description": "When post data is empty"
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete post",
                "description": "Delete post by select ID",
                "operationId": "deleteAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of post to fetch",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "X-API_KEY",
                        "in": "header",
                        "description": "Authentication Key",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Delete post success"
                    },
                    "403": {
                        "description": "When user not authentication"
                    },
                    "404": {
                        "description": "When post by ID not found"
                    }
                }
            }
        },
        "/post": {
            "post": {
                "summary": "Create new Post",
                "description": "Create new post use send post data",
                "operationId": "postAction",
                "produces": [
                    "application/json",
                    "application/xml"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Post data for new post",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Post"
                        }
                    },
                    {
                        "name": "X-API_KEY",
                        "in": "header",
                        "description": "Authentication Key",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "When new post created success"
                    },
                    "403": {
                        "description": "When user not authentication"
                    },
                    "400": {
                        "description": "When post data is empty"
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "ErrorModel": {
            "required": [
                "code",
                "message"
            ],
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Post": {
            "type": "object",
            "allOf": [
                {
                    "required": [
                        "title",
                        "content"
                    ],
                    "properties": {
                        "title": {
                            "type": "string"
                        },
                        "content": {
                            "type": "string"
                        }
                    }
                }
            ]
        }
    },
    "externalDocs": {
        "description": "Find more information",
        "url": "https://swagger.io/about"
    }
}