.post-title-field, .post-content-field {
    margin-top: 20px;
}

.update-post-btn {
    margin-top: 10px;
}

.add-post-btn {
    margin: 10px 0;
}

.add-post-container {
    margin-bottom: 20px;
}

.post-form-field {
    padding:0 10px 0 0 ;
}