.post-title-field, .post-content-field {
    margin-top: 20px;
}

.update-post-btn {
    margin-top: 10px;
}

.add-post-btn {
    margin: 10px 0;
}

.add-post-container {
    margin-bottom: 20px;
}

.post-form-field {
    padding: 0 10px 0 0;
}

.dynamic-edit-btn {
    margin-left: 4px;
}

.order-container {
    display: inline-block;
}

.order-container span {
    opacity: .3;
}

.order-container .active {
    opacity: 1;
}

